.subjectHeader {
  /* I don'y have a favorite color. If I did, then maybe black. Since it's already black, I'll just pick a random color */
  color: DarkRed;
  font-family: sans-serif;
}

#scoreBoard th {
  font-weight: bold;
  color: firebrick;
  border: solid black 1px;
  border-collapse: collapse;
}

#scoreBoard {
  border-bottom: solid black 1px;
  border-left: solid black 1px;
  border-right: solid black 1px;
  text-align: center;
  border-collapse: collapse;

}

caption {
  border-top: solid black 1px;
  border-left: solid black 1px;
  border-right: solid black 1px;
  background-color: cornsilk;
}

td, th {
  border: solid black 1px;
}

tr:nth-child(even){
  color: black;
  background-color: cornsilk;
}

tr:nth-child(odd){
  background-color: cornflowerBlue;
}

#teamRoster ul {
  list-style-type: square;
}

.hyperLink:hover {
  background-color: lime;
  text-decoration: none;
}

img {
  width: 150px;
  height: 120px;
  opacity: .2;
  position: absolute;
  down: 100px;
  left: 60px;
}

/* body > ul > li:first-child {
  background-image: url(https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg);
  background-repeat: no-repeat;
  background-size: contain;

}

body > ul > li:last-child {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Chicago_Bears_logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
} */

blockquote {
  background-color: darkSlateBlue;
  color: lightCyan;
}

#checkbox-grid li {
  list-style-type: none;
}

#teamRoster ul ol li:first-child {
  font-weight: bold;
}
